#space{
    width: 100%;
    height: 110px;
    
    display:flex;
}

#OurServices{
    background: url(../assets/welcome2.jpg);
    
}
.services-section-1 {
    /*background-image: url("../assets/welcome1.jpg"); /* Path to your image */
    background-color: aqua;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    color: #fff; /* Optional: Adjust the text color for contrast */
  }