/* DesWithTitle.css */
.des-with-title {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10% 20%;
  background-image: url("../assets/nzxtgen-smart-home-solutions.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  color: #fff;
  overflow: hidden; /* Prevents content from overflowing during animations */
  opacity: 0; /* Start with invisible */
  animation: fadeIn 2s forwards; /* Apply fade-in effect */
}

.des-with-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.44); /* Dark overlay */
  border-radius: 5px;
  z-index: 1;
}

.des-with-title > * {
  position: relative;
  z-index: 2;
  opacity: 0; /* Start with invisible */
  animation: slideInUp 1s forwards; /* Apply slide-up effect */
  animation-delay: 0.5s; /* Add slight delay for text */
}

/* Title Animation */
.title {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5vh;
  animation: fadeInUp 1.5s ease-out forwards;
}

/* Description Animation */
.description {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.4;
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 1s; /* Delayed for a smoother effect */
}

/* Fade-in Animation for the container */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide-in-up Animation for content */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-in-up Animation for title and description */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
